DB_PASSWORD=<your_strong_password_here>
APP_URL=<your_app_url_here>  # Example: http://localhost:6875
# Generate APP_KEY using the following command: docker run -it --rm --entrypoint /bin/bash lscr.io/linuxserver/bookstack:latest appkey
APP_KEY=<your_app_key_here>
